*.log
*.iml
.DS_Store
.env
.env.*.local
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/npm-debug.log
/yarn-error.log
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/api-docs
/storage/pail
/storage/app/public
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/vendor
/composer.phar
Homestead.json
Homestead.yaml
Thumbs.db
.idea/
frankenphp
frankenphp-worker.php
